body{
    background-color: #8F5932;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
h2,h3{
    color: #E3E0C0;
    letter-spacing: 0.2rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
}
h3{
    font-size: 1.8rem;
    font-weight: 600;
}
h4{
    font-size: 1.7rem;
    color: #E3E0C0;
}
p{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #E3E0C0;
}
.hero{
    min-height: 100vh;
}
nav{
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #E3E0C0;
    align-items: center;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    /*color: #E3E0C0;*/
}
.nav-icon-img{
    display: none;
}
#open-menu, #close-menu{
   display: none;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sign-in-btn{
    background-color: #FBEC6C;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
    color: #000000;
}
.sign-in-btn-new{
    background-color: #FBEC6C;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.sign-in-btn-new:hover{
    border: none;
    color: #E3E0C0;
    background-color: #8F5932;
}

.course-items{
    background-color: #8F5932;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
    padding: 0.5rem 1rem 2rem 1rem;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.lesson-items{
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
    min-height: 10rem;
    align-items: center;
}
.course-image{
    height: 5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0 2rem;
}
.next-btn{
    display: flex;
    justify-content: space-between;
}
footer{
    /*margin-top: 75vh;*/
    color: #E3E0C0;
}
#hero-content{
    margin-top: 20vh;
    max-width: 65%;
}
#hero-content h1{
    font-size: 4rem;
    font-weight: 700;
    color: #FBEC6C;
    letter-spacing: 0.4rem;
}
#hero-content p{
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background: linear-gradient(to right, #FBEC6C, #E3E0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.white-heading{
    color: #E3E0C0;
}
#about-content{
    max-width: 50%;
}
#about-content .about-text{
    color: #FBEC6C;
}
.service{
    min-height: 40vh;
}
.contact-icons{
    max-width: 3.5rem;
    max-height: 3.5rem;
}
.privacy{
    color: #E3E0C0;
}
form{
    min-width: 60%;
    min-height: 100vh;
}
form label{
    padding-top: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.form-control{
    margin-top: 0.6rem;
    outline: none;
    border: none;
}
.form-control:focus{
    outline: none !important;
    border:none !important;
    background-color: #FBEC6C;
    box-shadow: none;
    color: #000000;

}
.a-link{
    color: #FBEC6C;
}
.post-section{
    min-height: 100vh;
}
.post-section h3{
    color: #FBEC6C;
}
.post-section p{
    font-size: 1.05rem;
}
.blog-card p{
    font-size: 1.2rem;
}
.post-image{
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0 2rem;
}
.post-image-full{
    height: 35rem;
    width: 100%;
    object-fit: cover;
    border-radius: 4rem 4rem 0 4rem;
}
.video-full{
    border-radius: 2rem 2rem 0 2rem;
}
.audio{
    width: 100%;
}
.audio-title{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.post-date{
    font-size: 0.8rem;
}
/*dashboard*/
.dashboard{
    background-color: #FBEC6C;
    min-height: 120vh;
    position: fixed;

}
.main-page{
    /*position: relative;*/
}
.main-content{
    min-height: 100vh;
    margin-left: 23rem;
    width: 75%;
}
.page-heading{
    display: flex;
    flex-direction: row !important;
    gap: 2rem;
}
#collapse{
    cursor: pointer;
}
.dashboard-nav{
    display: flex;
    flex-direction: row;
    width: 20rem;
}
.all-icons{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.all-icons ul li{
    justify-content: left;
    padding-bottom: 3rem;
    height: 3rem;
    color: #8F5932;
}
.dashboard-forms{
    width:85%;
}
/*logout page*/
.logout-div{
    margin-top: 15%;
    background-color: #8F5932;
    min-height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.search-form{
    display: flex;
    gap: 2rem;
    align-items: center;
    min-height: 5rem !important;
    background-color: #8F5932;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem 1rem 0 1rem;
    box-shadow: 0.3rem 1.5rem 1rem #8F5932;
    /*height: 5rem !important;*/
}
.search-submit{
    background-color: #8F5932;
    color: #E3E0C0;
    box-shadow: none;
}
.confirmation-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cancel-btn{
    background-color: #E11212;
    color: #E3E0C0;
}
.blogs h2{
    font-size: 1.5rem;
}
.blog-content-page h3{
    color: #FBEC6C;
}
.small-date{
    font-size: 0.8rem;
}
.charts{
    min-height: 60vh;
}
.display-pic{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.update-photo{
    display: flex;
    gap: 1rem;
}
.update-edit-photo{
    display: flex;
    gap: 0.2rem;
}
.profile-texts{
    font-size: 1.3rem;
}

/* Style the select box */
select {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='%23f06d06'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select option{
    background-color: #8F5932 !important;
    color: #E3E0C0;
}
.searches{
    justify-content: space-between;
}
#message-items{
    background-color: #FBEC6C !important;
    color: #000000 !important;
    width: 9rem;
    height: 5rem;
    display: none;
    box-shadow: 0.3rem 1.5rem 1rem #771818;
    border: #8F5932 1px solid;
    border-radius: 1rem 1rem 0 1rem;
    z-index: 5;
    font-size: 1.2rem;
    justify-content: space-between;
}
.messages{
    width: 100%;
    overflow-y: auto;
    margin-bottom: 15rem;
}
.sender, .receiver{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem 2rem 0 2rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
    font-size: 1rem;
    max-width: 70%;
    min-height: 1.5rem;
}
.profile-and-name{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.my-chat-singles{
    display: flex;
    justify-content: space-between;
}
.single-chat{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem 2rem 0 2rem;
    box-shadow: 0.3rem 1.5rem 1rem #453021;
}
.receiver{
    align-self: flex-start;
    background-color: #8F5932;
}
.sender{
    align-self: flex-end;
    background-color: #FBEC6C;
}
.sender p{
    color: #000000;
}
#message-header{
    position: fixed;
    min-width: 70rem;
    top: 4rem;
    right: 1rem;
    left: 24rem;
}
.message-sent{
    position: fixed;
    min-width: 75%;
    min-height: 10rem;
    right: 0;
    top: 30rem;
    bottom: 0;
}
.message-input{
    min-height: 8rem;
}
.btn:focus{
    outline: none;
    border: none;
}
.continue-learning{
    background-color: #8F5932;
    color: #E3E0C0;
}
.continue-learning:hover{
    background-color: #FBEC6C;
    color: #000000;
}
.post-items{
    display: flex;
    justify-content: space-between;
}
.add-and-edit-posts{
    min-height: 4rem;
}
.add-and-edit-posts p{
    font-size: 1rem;
    color: #000000;
}
.post-title-image{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.post-content{
    min-height: 30rem;
}
.post-image-singles{
    width: 30%;
    object-fit: cover;
}
#emoji-picker{
    display: none;
    position: absolute;
    z-index: 9999;
    left: 7rem;
    bottom: 13rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

@media (max-width: 900px){
    /*navbar styling starts*/
    .nav-icon-img{
    display: block;
    }
    .list{
        background-color: #FBEC6C;
        box-shadow: 0.3rem 1rem 1rem #000000;
        border-radius: 1rem;
        min-width: 100vw;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 1rem;
        position: absolute;
        top: 15vh;
        z-index: 1;
    }
    .sign-in-btn{
        background-color: #8F5932;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem 1rem 0 1rem;
        box-shadow: 0.3rem 1.5rem 1rem #453021;
        color: #E3E0C0;
    }
    .logo{
        margin-top: 1rem;
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
    }
    .logo-img{
        max-width: 12rem;
    }
    #open-menu, #close-menu{
        display: block;
        max-width: 2rem;
        max-height: 2rem;
    }
    #close-menu{
        display: none;
    }
    /*navbar styling ends*/
    #hero-content{
        margin-top: 0;
        max-width: 100%;
}
    #about-content{
        max-width: 100%;
}
    .dashboard{
        display: none;
        position: fixed;
        z-index: 1;
        width: 70%;
        min-height: 100vh;
        transition: opacity 3s ease-in-out;
    }
        .all-icons{
        display: flex;
        flex-direction: column;
        gap:4rem;
        align-items: center;
    }
    .main-content{
        min-height: 100vh;
        margin-left: 0;
        width: 100%;
}
    .profile-texts{
        font-size: 0.8rem;
}
    .page-heading{
        gap: 10rem;
}
    #message-header{
        position: fixed;
        min-width: 10rem;
        top: 4rem;
        right: 0;
        left: 0;
}
    .post-image-singles{
        width: 100%;
}
    .my-chat-overview .display-pic{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .my-chat-content h3{
        font-size: 0.8rem;
    }
    .my-chat-content p{
        font-size: 0.6rem;
    }
    .my-chat-content .small-date{
        font-size: 0.4rem;
    }
    .messages{
        margin-bottom: 15rem;
}
    .messages p{
        font-size: 1.2rem;
}
    .messages .small-date{
        font-size: 0.6rem;
}

    .message-sent{
        left: 0;
        min-height: 8rem !important;
}
    .message-input{
        min-height: 5rem;
}
    #emoji-picker{
        left: 0;
        bottom: 13rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
}