{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
    {#    for the completed courses#}
    <h3>Completed Courses</h3>
    <div class="row mt-1 blogs">
    {% for course in completed_courses %}
    <div class="col-md-4 justify-content-between mb-5">
    <div class="course-items">
        {% if course.course_level == 'beginner' %}
             <img src="{% static 'images/beginner-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif course.course_level == 'intermediate' %}
             <img src="{% static 'images/intermediate-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif course.course_level == 'advanced' %}
             <img src="{% static 'images/advanced-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% endif %}
          <h2 class="mt-4">{{ course.course_name.course_name|capfirst }}</h2>
          <p class="a-link">Level: {{ course.course_level|capfirst }}</p>
          <p class="small-date">Enrolled on: {{ course.enrolment_date|date:'d/m/y' }}</p>
          <a href="{% url 'course-modules' course.slug %}" class="sign-in-btn-new mt-3">Continue Learning</a>
    </div>
        </div>
        {% empty %}
        <p>You have not completed any courses yet</p>
    {% endfor %}
    </div>
{% endblock %}