{% extends 'base-main.html' %}
{% load static %}
{% block hero-style %} class="other" style="background-color: #8F5932;" {% endblock %}
{% block content %}
    <section class="align-items-left mt-4 post-section container" data-aos="slide-right">
          <img src="{{ blog.blog_image.url }}" alt="post-image" class="img-fluid post-image-full">
      <h2 class="mt-5">{{ blog.blog_title }}</h2>
      <p class="a-link post-date">By {{ blog.blog_author }} on {{ blog.created_at|date:'d/m/y'}}</p>
      <p>
          {% autoescape off %}
              {{ blog.blog_content|linebreaks }}
          {% endautoescape %}
      </p>
{#      <a href="" class="sign-in-btn-new mt-5 mb-5" style="background-color: #8F5932; color: #E3E0C0"></a>#}
    </section>
{% endblock %}