{% extends 'base-main.html' %}
{% load static %}
{% block hero-style %} class="other" style="background-color: #8F5932;" {% endblock %}
{% block content %}
    <section class=" d-flex flex-column align-items-center">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <h2> <span class="a-link">Change</span> Password</h2>
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control sign-in-btn-new" placeholder="Password" name="password">
        <label for="cpassword">Confirm New Password</label>
        <input type="password" id="cpassword" class="form-control sign-in-btn-new" placeholder="Confirm Password" name="c-password">

        <button type="submit" class="sign-in-btn-new mt-5 btn pe-5 ps-5">Change Password</button>
    </form>
    </section>
{% endblock %}