{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
      <h2 class="mb-5"><span class="a-link">My</span> Chats</h2>
    {% for chat in user_chats %}
        {% if chat.receiver == request.user %}
            <a href="{% url 'message-partners' chat.sender.slug %}">
        {% else %}
            <a href="{% url 'message-partners' chat.receiver.slug %}">
        {% endif %}
    <div class="mb-5 single-chat align-items-center my-chat-singles">
        <div class="profile-and-name">
            <div class="my-chat-overview">
            {% if chat.receiver == request.user %}
                {% if chat.sender.profile_picture %}
                     <img src="{{ chat.sender.profile_picture.url }}" alt="photo" class="img-fluid display-pic">
                {% else %}
                     <img src="{% static 'images/dp.jpg' %}" alt="photo" class="img-fluid display-pic">
                {% endif %}
            {% else %}
                {% if chat.receiver.profile_picture %}
                     <img src="{{ chat.receiver.profile_picture.url }}" alt="photo" class="img-fluid display-pic">
                {% else %}
                     <img src="{% static 'images/dp.jpg' %}" alt="photo" class="img-fluid display-pic">
                {% endif %}
            {% endif %}
            </div>
            <div class="my-chat-content">
                <h3 class="a-link">
                    {% if chat.receiver == request.user %}
                        {{ chat.sender.display_name|capfirst }}
                    {% else %}
                        {{ chat.receiver.display_name|capfirst }}
                    {% endif %}
                </h3>
                <p class="">{{ chat.message_content|capfirst|truncatewords:6 }}</p>
            </div>
        </div>
        <div class="my-chat-content">
            <p class="small-date a-link chat-date" data-sent-time="{{ chat.message_sent_at|date:'c' }}"></p>
        </div>
    </div>
    </a>
    {% empty %}
        <p>You do not have any chats</p>
    {% endfor %}
{% endblock %}