{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
    {% if messages %}
            {% for message in messages %}
                <p style="color: {% if message.tags == 'error' %}#d14d4d{% else %}#435a42{% endif %}; background-color: #FBEC6C; border-radius: 1rem" class="mx-5 p-3" id="alert-items">
                    {{ message }}
                </p>
            {% endfor %}
    {% endif %}
    <form action="{% url 'enroll-course' course.slug %}" method="post" enctype="multipart/form-data" class="dashboard-forms">
    {% csrf_token %}
        <h2> <span class="a-link">Confirm</span> Enrollment</h2>
        <label for="lang">Language</label>
        <input type="text" id="lang" class="form-control sign-in-btn-new" placeholder="Language" name="language" value="{{ course.course_name }}" readonly>
        <label for="lang-l">Language Level</label>
        <input type="text" id="lang-l" class="form-control sign-in-btn-new" placeholder="Language level" name="language-level" value="{{ course.course_level|capfirst }}" readonly>
        <label for="instructor">Instructor Name</label>
        <input type="text" id="instructor" class="form-control sign-in-btn-new" placeholder="Instructor Name" value="{{ course.instructor_name }}" name="instructor-name" readonly>
        <button type="submit" class="sign-in-btn-new mt-5 btn pe-5 ps-5">Enroll</button>
    </form>
{% endblock %}