{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
    <section>
    {#    for the ongoing courses#}
    <a href="{% url 'ongoing-courses' %}">
        <div class="row align-items-center mb-3">
            <h3 class="col-md-4">Ongoing Courses</h3>
            <div class="col-md-1">
                 <img src="{% static 'images/more-btn.svg' %}" alt="view-all-ongoing-courses" class="img-fluid">
            </div>
        </div>
    </a>
    <div class="row mt-1 blogs">
    {% for enrolled in enrolled_courses %}
    <div class="col-md-4 justify-content-between mb-5">
    <div class="course-items">
        {% if enrolled.course_level == 'beginner' %}
             <img src="{% static 'images/beginner-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif enrolled.course_level == 'intermediate' %}
             <img src="{% static 'images/intermediate-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif enrolled.course_level == 'advanced' %}
             <img src="{% static 'images/advanced-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% endif %}
          <h2 class="mt-4">{{ enrolled.course_name.course_name|capfirst }}</h2>
          <p class="a-link">Level: {{ enrolled.course_level|capfirst }}</p>
          <p class="small-date">Enrolled on: {{ enrolled.enrolment_date|date:'d/m/y' }}</p>
          <a href="{% url 'course-modules' enrolled.slug %}" class="sign-in-btn-new mt-3">Continue Learning</a>
    </div>
        </div>
        {% empty %}
        <p>You have no ongoing course at the moment</p>
    {% endfor %}
    </div>
{#    for the progress charts #}
     <h3 class="col-md-4 a-link">My Learning Charts</h3>
    <div class="row mt-1 blogs">
{#        the line chart#}
    <div class="col-md-6 justify-content-between mb-5">
    <div class="course-items charts">
       <canvas id="weeklyChart" style="width: 90% !important; height: 100% !important;"></canvas>
    </div>
    </div>
{#        the bar chart#}
     <div class="col-md-6 justify-content-between mb-5">
    <div class="course-items charts">
       <canvas id="yearlyChart" style="width: 90% !important; height: 100% !important;"></canvas>
    </div>
    </div>
    </div>
{#    for the completed courses#}
<a href="{% url 'completed-courses' %}">
        <div class="row align-items-center mb-3">
            <h3 class="col-md-4">Completed Courses</h3>
           <div class="col-md-1">
                 <img src="{% static 'images/more-btn.svg' %}" alt="view-all-ongoing-courses" class="img-fluid">
            </div>
        </div>
    </a>
    <div class="row mt-1 blogs">
    {% for enrolled in completed_courses %}
    <div class="col-md-4 justify-content-between mb-5">
    <div class="course-items">
        {% if enrolled.course_level == 'beginner' %}
             <img src="{% static 'images/beginner-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif enrolled.course_level == 'intermediate' %}
             <img src="{% static 'images/intermediate-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% elif enrolled.course_level == 'advanced' %}
             <img src="{% static 'images/advanced-level.jpg' %}" alt="course-image" class="img-fluid course-image">
        {% endif %}
          <h2 class="mt-4">{{ enrolled.course_name.course_name|capfirst }}</h2>
          <p class="a-link">Level: {{ enrolled.course_level|capfirst }}</p>
          <p class="small-date">Enrolled on: {{ enrolled.enrolment_date|date:'d/m/y' }}</p>
          <p class="small-date">Completed on: {{ enrolled.completion_date|date:'d/m/y' }}</p>
          <a href="{% url 'course-modules' enrolled.slug %}" class="sign-in-btn-new mt-3">View Course</a>
    </div>
        </div>
        {% empty %}
        <p>No courses have been completed yet</p>
    {% endfor %}
    </div>
    </section>
{% endblock %}

{#for metric graphs#}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    const weeklyCtx = document.getElementById('weeklyChart').getContext('2d');
    const yearlyBarCtx = document.getElementById('yearlyChart').getContext('2d');
    const canvas=document.getElementById('yearlyChart')

    var weekly_metrics_data = [12, 15, 13, 17, 20, 18, 16];
    var yearly_metrics_data= [32, 29, 34, 36, 39, 41, 43, 42, 40, 30, 37, 45];

    const maxWeeklyData = Math.max(...weekly_metrics_data.filter(value => value !== null))+10;
    const maxYearlyData = Math.max(...yearly_metrics_data.filter(value => value !== null))+10;

    var weekly_labels = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"];
    var yearly_labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                     "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];


    const gradient = yearlyBarCtx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, '#E3E0C0');
    gradient.addColorStop(0.1, '#FBEC6C');
    gradient.addColorStop(1, '#6D3710');

    {#for the line graph#}
      const weeklyChart = new Chart(weeklyCtx, {
            type: 'line',
            data: {
                labels: weekly_labels,
                datasets: [
                    {
                    label: 'Lessons completed',
                    data: weekly_metrics_data,
                    backgroundColor: '#E3E0C0',
                    borderColor: '#E3E0C0',
                    borderWidth: 1,
                    spanGaps: true,
                }
                ]
            },
             options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: { position: "top",
                        labels: {
                            usePointStyle:true,
                            color: '#E3E0C0'
                        }
                    },
                    title: {
                        display: true,
                        align: 'center',
                        font: {
                            size: 21,
                            weight: 'bold',
                        },
                        color: '#E3E0C0',
                        text: "This Week",
                    }
                },
                scales: {
                        x: {
                        beginAtZero: false,
                        min: 0,
                        ticks: {
                            color: '#E3E0C0'
                        },
                        grid: {
                            color: '#a38e8e'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        min: 0,
                        max: maxWeeklyData,
                         ticks: {
                            color: '#E3E0C0'
                        },
                        grid: {
                            display: false,
                        },
                    }
                }
            }
        });

    {#for the bar graph#}
    const monthlyBarChart = new Chart(yearlyBarCtx, {
            type: 'bar',
            data: {
                labels: yearly_labels,
                datasets: [
                    {
                    label: 'Lessons Completed',
                    data: yearly_metrics_data,
                    backgroundColor: gradient,
                    borderColor: gradient,
                    borderWidth: 1
                }
                ]
            },
             options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: { position: "top",
                        labels: {
                            usePointStyle:true,
                            color: '#E3E0C0',
                        }
                    },
                    title: {
                        display: true,
                        align: 'center',
                        font: {
                            size: 21,
                            weight: 'bold',
                        },
                        color: '#E3E0C0',
                        text: "This Year",
                    }
                },
                scales: {
                        x: {
                        beginAtZero: false,
                        min: 0,
                        ticks: {
                            color: '#E3E0C0'
                        },
                        grid: {
                            display: false,
                        },
                    },
                    y: {
                        beginAtZero: true,
                        min: 0,
                        max: maxYearlyData,
                        ticks: {
                            color: '#E3E0C0'
                        },
                        grid: {
                            display: false,
                        },
                    }
                }
            }
        });

    </script>
{% endblock %}