{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
    <div class="searches search-form mb-3" id="message-header">
        <div class="">
            <a href="{% url 'chats' %}">
                <img src="{% static 'images/back-to-messages.svg' %}" alt="back-to-chats">
            </a>
        </div>
        <div class=""><p class="a-link">{{ partner.display_name|capfirst }}</p></div>
        <div class="">
            <div class="d-flex flex-column">
                <button class="post-options btn">
                         <img src="{% static 'images/message-options.svg' %}" alt="options">
                </button>
                <ul class="col-md-2 m-items message-items" id="message-items" data-target="message-items-1">
                    <li><a href="">Clear chat</a></li>
                    <li><a href="">Export chat</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="messages d-flex flex-column mt-5" id="chat">
    <p class="text-center mt-5 a-link">Conversation between {{ partner.display_name|capfirst }} and {{ user.display_name|capfirst }}</p>
         {% for message in user_messages %}
             {% if message.sender != request.user %}
        <div class="receiver mt-5">
            <p>{{ message.message_content|capfirst }}</p>
            <p class="small-date a-link chat-date" data-sent-time="{{ message.message_sent_at|date:'c' }}"></p>
        </div>
             {% else %}
        <div class="sender mt-5">
            <p>{{ message.message_content|capfirst }}</p>
            <p class="small-date chat-date" data-sent-time="{{ message.message_sent_at|date:'c' }}"></p>
        </div>
             {% endif %}
             {% empty %}
             <p>Start a conversation with {{ partner.display_name|capfirst }}😊</p>
        {% endfor %}
    </div>
    <div class="mt-5 d-flex align-items-center justify-content-center">
        <form action="{% url 'message-partners' partner.slug %}" method="post" enctype="multipart/form-data" class="search-form message-sent">
        {% csrf_token %}
            <button type="button" class="btn">
                <img src="{% static 'images/emoji1.svg' %}" alt="emoji" id="emoji-picker-btn">
            </button>
            <emoji-picker id="emoji-picker"></emoji-picker>
            <textarea name="message-content" cols="30" rows="5" class="form-control sign-in-btn-new message-input" placeholder="Type your message" id="emoji-input"></textarea>
            <button type="submit" class="btn">
                <img src="{% static 'images/send-btn.svg' %}" alt="">
            </button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    document.querySelectorAll('.post-options').forEach(button => {
  button.addEventListener('click', function() {
    const messageItems = document.getElementById('message-items');

    if (messageItems) {
      messageItems.style.display = messageItems.style.display === 'none' ? 'block' : 'none';
    }
  });
});
    </script>
{% endblock %}