{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
{#for the specific modules of the courses#}
      <h2><span class="a-link">{{ module.course.course_name }}-</span>{{ module.module_title|capfirst }}</h2>
    {% for lesson in lessons %}
        <div class="row mb-5 lesson-items me-2 ms-2">
            <div class="col-md-8">
                 <h3 class="a-link">Lesson {{ lesson.lesson_number }}:</h3>
                  <p class="">{{ lesson.lesson_description|capfirst }}</p>
            </div>
            <div class="col-md-2">
                <p class="">{{ lesson.lesson_type|capfirst }}</p>
                  <p class="a-link">{{ lesson.lesson_duration }} mins</p>
            </div>
            <div class="col-md-1">
                {% if lesson.lesson_type == 'read' %}
                    <a href="{% url 'lesson-content' lesson.slug %}" class="sign-in-btn-new btn pe-5 ps-5 mb-3">Read</a>
                {% elif lesson.lesson_type == 'audio' %}
                    <a href="{% url 'lesson-content' lesson.slug %}" class="sign-in-btn-new btn pe-5 ps-5 mb-3">Listen</a>
                {% elif lesson.lesson_type == 'video' %}
                    <a href="{% url 'lesson-content' lesson.slug %}" class="sign-in-btn-new btn pe-5 ps-5 mb-3">Watch</a>
                {% else %}
                    <a href="{% url 'lesson-content' lesson.slug %}" class="sign-in-btn-new btn pe-5 ps-5 mb-3">Take Quiz</a>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p>Course content have not been added yet</p>
    {% endfor %}
{% endblock %}