{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
<div class="logout-div sign-in-btn">
    <div class="update-photo align-items-center mb-5">
        <div class="col-md-1">
            {% if user.profile_picture %}
                 <img src="{{ user.profile_picture.url }}" alt="photo" class="img-fluid display-pic">
            {% else %}
                 <img src="{% static 'images/dp.jpg' %}" alt="photo" class="img-fluid display-pic">
            {% endif %}
        </div>

        <div class="col-md-6">
            <a href="{% url 'edit-profile-picture' %}">
            <div class="update-edit-photo">
                <div class="col-md-1">
                    <img src="{% static 'images/edit-items.svg' %}" alt="Edit photo">
                </div>
                <div class="col-md-5"><p class="a-link">Edit Photo</p></div>
            </div>
                 </a>
        </div>

    </div>
    <p class="text-left profile-texts">Username: <span class="a-link">
        {% if not user.display_name %}
              No added yet
        {% else %}
            {{ user.display_name|capfirst }}
        {% endif %}
    </span></p>
    <p class="text-left profile-texts">Full Name: <span class="a-link">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span></p>
    <p class="text-left profile-texts">Email: <span class="a-link">{{ user.email }}</span></p>
    <p class="text-left profile-texts">Phone Number: <span class="a-link">
         {% if not user.phone_number %}
            No added yet
        {% else %}
            {{ user.phone_number }}
        {% endif %}
    </span></p>
        <div class="">
            <a href="{% url 'update-profile' %}" class="sign-in-btn-new mt-3 mb-4 btn pe-5 ps-5">Update Profile</a>
        </div>
</div>
{% endblock %}